---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.photosets.getList&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="%2BQXWIAI4Ypkfr4Ut%2FNHkUvnQwBrE9C4fp9lJhX%2BMjqY%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397421424", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photosets":{"cancreate":1, "page":1, "pages":1, "perpage":40, "total":40,
        "photoset":[{"id":"72157632367381040", "primary":"8318972536", "secret":"eda82f692f",
        "server":"8499", "farm":9, "photos":"28", "videos":0, "title":{"_content":"Paris"},
        "description":{"_content":"These shots were taken in Paris, France in December
        2012. Most of them are taken with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina
        12-24mm f\/4."}, "needs_interstitial":0, "visibility_can_see_set":1, "count_views":"31",
        "count_comments":"0", "can_comment":1, "date_create":"1356715289", "date_update":"1356717162"},
        {"id":"72157632303248759", "primary":"8294626229", "secret":"7b8aaeab2b",
        "server":"8081", "farm":9, "photos":"69", "videos":0, "title":{"_content":"Bali"},
        "description":{"_content":"These shots were taken on Bali in May 2012. Most
        of them are taken with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm
        f\/4."}, "needs_interstitial":0, "visibility_can_see_set":1, "count_views":"21",
        "count_comments":"0", "can_comment":1, "date_c[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="A4EFSNlZtMR4HCadOk4qXaEro%2FJp9vDsptO6l0gh3Kg%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397421424", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Sun, 13 Apr 2014 20:37:05 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157607733513100&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="HCFZzh2trnhHmVZrZEufduxvRD4dwCPuwDmTZZrvmfQ%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397421437", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157607733513100", "owner":"8558751@N06", "username":"ktnl",
        "primary":"2912489161", "secret":"d2fb34f716", "server":"3105", "farm":4,
        "photos":24, "count_views":"67", "count_comments":"0", "count_photos":"24",
        "count_videos":0, "title":{"_content":"Diergaarde Blijdorp"}, "description":{"_content":"Rotterdam
        Zoo: Diergaarde Blijdorp"}, "can_comment":1, "date_create":"1223156815", "date_update":"1356165012",
        "coverphoto_server":"0", "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Sun, 13 Apr 2014 20:37:19 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="BcODrh3nBo4KG98dWFf32JwSy62Z5024RQhcfI%2BMxUw%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397421444", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "primary":"8318972536", "owner":"8558751@N06",
        "ownername":"ktnl", "photo":[{"id":"8318972536", "secret":"eda82f692f", "server":"8499",
        "farm":9, "title":"Top of the Eiffel Tower", "isprimary":"1"}, {"id":"8317914535",
        "secret":"c7393787f3", "server":"8217", "farm":9, "title":"Mus\u00e9e du Louvre",
        "isprimary":"0"}, {"id":"8318972024", "secret":"c065315906", "server":"8075",
        "farm":9, "title":"Mus\u00e9e du Louvre", "isprimary":"0"}, {"id":"8317914047",
        "secret":"afebce8291", "server":"8353", "farm":9, "title":"Mus\u00e9e du Louvre",
        "isprimary":"0"}, {"id":"8317913769", "secret":"df65484bbf", "server":"8212",
        "farm":9, "title":"Eiffel [...]
