---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.photosets.getList&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="XMmcWqRo57uum%2B5PTgqIBgPkJTT4reheK380DgvzllI%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397474566", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photosets":{"cancreate":1, "page":1, "pages":1, "perpage":40, "total":40,
        "photoset":[{"id":"72157632367381040", "primary":"8318972536", "secret":"eda82f692f",
        "server":"8499", "farm":9, "photos":"28", "videos":0, "title":{"_content":"Paris"},
        "description":{"_content":"These shots were taken in Paris, France in December
        2012. Most of them are taken with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina
        12-24mm f\/4."}, "needs_interstitial":0, "visibility_can_see_set":1, "count_views":"31",
        "count_comments":"0", "can_comment":1, "date_create":"1356715289", "date_update":"1356717162"},
        {"id":"72157632303248759", "primary":"8294626229", "secret":"7b8aaeab2b",
        "server":"8081", "farm":9, "photos":"69", "videos":0, "title":{"_content":"Bali"},
        "description":{"_content":"These shots were taken on Bali in May 2012. Most
        of them are taken with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm
        f\/4."}, "needs_interstitial":0, "visibility_can_see_set":1, "count_views":"21",
        "count_comments":"0", "can_comment":1, "date_c[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="jI44FcGFg0FDKP%2BgW%2Bylq5gBlxYgm6cAiENOLJiZFRc%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397474567", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Mon, 14 Apr 2014 11:22:47 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157607733513100&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="Jz8Fy3eNRhsqCRztqPFTfFOKW2v6wiSSi8oE9546Ac4%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397474579", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157607733513100", "owner":"8558751@N06", "username":"ktnl",
        "primary":"2912489161", "secret":"d2fb34f716", "server":"3105", "farm":4,
        "photos":24, "count_views":"67", "count_comments":"0", "count_photos":"24",
        "count_videos":0, "title":{"_content":"Diergaarde Blijdorp"}, "description":{"_content":"Rotterdam
        Zoo: Diergaarde Blijdorp"}, "can_comment":1, "date_create":"1223156815", "date_update":"1356165012",
        "coverphoto_server":"0", "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Mon, 14 Apr 2014 11:22:59 GMT
[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="D5scp2i7WXQnbswi4o9s12I7IkQpVQ86RL%2BwqG2Sk1U%3D", oauth_signature="<KUVA_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1534418830", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="2oALgLKofTmeZvoZ1y/fSZg7R9jPMix8eVA6DH4o/q8="; pin-sha256="Gtk3r1evlBrs0hG3fm3VoM19daHexDWP//OCmeeMr5M=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        pin-sha256="SVqWumuteCQHvVIaALrOZXuzVVVeS7f4FGxxu6V+es4="; pin-sha256="UZJDjsNp1+4M5x9cbbdflB779y5YRBcV6Z6rBMLIrO4=";
        pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw="; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18=";
        pin-sha256="cAajgxHlj7GTSEIzIYIQxmEloOSoJq7VOaxWHfv72QM="; pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A=";
        pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY="; pin-sha256="iduNzFNKpwYZ3se/XV+hXcbUonlLw09QPa6AYUwpu4M=";
        pin-sha256="lnsM2T/O9/J84sJFdnrpsFp3awZJ+ZZbYpCWhGloaHI="; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},{"_content":"flickr.activity.userPhotos"},{"_content":"flickr.auth.checkToken"},{"_content":"flickr.auth.getFrob"},{"_content":"flickr.auth.getFullToken"},{"_content":"flickr.auth.getToken"},{"_content":"flickr.auth.oauth.checkToken"},{"_content":"flickr.auth.oauth.getAccessToken"},{"_content":"flickr.blogs.getList"},{"_content":"flickr.blogs.getServices"},{"_content":"flickr.blogs.postPhoto"},{"_content":"flickr.cameras.getBrandModels"},{"_[...]
