---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=8318972536&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="0Oeap%2FKCuSbcPlyOSlsL3khQ9mNCCJVCZP3qOoDLzoc%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397632492", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"8318972536", "secret":"eda82f692f", "server":"8499",
        "farm":9, "dateuploaded":"1356715400", "isfavorite":0, "license":"0", "safety_level":"0",
        "rotation":0, "originalsecret":"e0a5236919", "originalformat":"jpg", "owner":{"nsid":"8558751@N06",
        "username":"ktnl", "realname":"Kevin Tuhumury", "location":"", "iconserver":"213",
        "iconfarm":1, "path_alias":"kevintuhumury"}, "title":{"_content":"Top of the
        Eiffel Tower"}, "description":{"_content":"These shots were taken in Paris,
        France in December 2012. Most of them are taken with my Nikon D80 and Nikkor
        50mm f\/1.8 or Tokina 12-24mm f\/4."}, "visibility":{"ispublic":1, "isfriend":0,
        "isfamily":0}, "dates":{"posted":"1356715400", "taken":"2012-12-02 11:15:32",
        "takengranularity":"0", "lastupdate":"1356791896"}, "permissions":{"permcomment":3,
        "permaddmeta":2}, "views":"318", "editability":{"cancomment":1, "canaddmeta":1},
        "publiceditability":{"cancomment":1, "canaddmeta":0}, "usage":{"candownload":1,
        "canblog":1, "canprint":1, "canshare":1}, "comments":{"_content":"0"}, "notes":{"note":[]},
        "people":{"haspeople":0}, "tags":{"tag":[{"id":"8513429-8318972536-484", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Paris", "_content":"paris", "machine_tag":0},
        {"id":"8513429-8318972536-487", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"France", "_content":"france", "machine_tag":0}, {"id":"8513429-8318972536-9178",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Eiffel", "_content":"eiffel",
        "machine_tag":0}, {"id":"8513429-8318972536-6973", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Eiffel tower", "_content":"eiffeltower", "machine_tag":0},
        {"id":"8513429-8318972536-5080", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"Louvre", "_content":"louvre", "machine_tag":0}, {"id":"8513429-8318972536-44616",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Arc de Triomphe", "_content":"arcdetriomphe",
        "machine_tag":0}, {"id":"8513429-8318972536-11119", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Notre Dame", "_content":"notredame", "machine_tag":0},
        {"id":"8513429-8318972536-1128", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"Seine", "_content":"seine", "machine_tag":0}, {"id":"8513429-8318972536-315853",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Champs-\u00c9lys\u00e9es",
        "_content":"champs\u00e9lys\u00e9es", "machine_tag":0}]}, "location":{"latitude":48.858108,
        "longitude":2.300004, "accuracy":"14", "context":"0", "neighbourhood":{"_content":"Gros
        Caillou", "place_id":"Gh_droFUV7JfPjFofw", "woeid":"55843775"}, "locality":{"_content":"Paris",
        "place_id":"EsIQUYZXU79_kEA", "woeid":"615702"}, "county":{"_content":"Paris",
        "place_id":".tpTHPFQUL.gM81.cQ", "woeid":"12597155"}, "region":{"_content":"Ile-de-France",
        "place_id":"QLdv_.RWU7_jEfrE", "woeid":"7153319"}, "country":{"_content":"France",
        "place_id":"lbWye9tTUb6GOcp80w", "woeid":"23424819"}, "place_id":"Gh_droFUV7JfPjFofw",
        "woeid":"55843775"}, "geoperms":{"ispublic":1, "iscontact":0, "isfriend":0,
        "isfamily":0}, "urls":{"url":[{"type":"photopage", "_content":"https:\/\/www.flickr.com\/photos\/kevintuhumury\/8318972536\/"}]},
        "media":"photo"}, "stat":"ok"}'
  recorded_at: Wed, 16 Apr 2014 07:14:53 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="D9BlLkYp%2FzTGEzGXAOSjoXcXiPXfKHES%2FkIxPcfGUjU%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397632493", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Wed, 16 Apr 2014 07:14:53 GMT
recorded_with: VCR 2.9.0
