---
http_interactions:
- request:
    method: post
    uri: http://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="http://api.flickr.com/services/rest/", oauth_consumer_key="<OAUTH_CONSUMER_KEY>",
        oauth_nonce="<OAUTH_NONCE>", oauth_signature="<OAUTH_SIGNATURE>", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393403888", oauth_token="", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stat":"fail", "code":100, "message":"Invalid API Key (Key has invalid
        format)"}'
  recorded_at: Wed, 26 Feb 2014 08:38:09 GMT
recorded_with: VCR 2.8.0
