---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="gqSR8pRRxGRe5LzMM%2FndfU%2B%2FOn%2BZzH86XPlfopC%2Fyi4%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397347619", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Sun, 13 Apr 2014 00:06:59 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getPhotos&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="S6dhEC0vleqVzR01pJDAYD1SMlmmPf62hC8PUG4zx4c%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397347619", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "primary":"8318972536", "owner":"8558751@N06",
        "ownername":"ktnl", "photo":[{"id":"8318972536", "secret":"eda82f692f", "server":"8499",
        "farm":9, "title":"Top of the Eiffel Tower", "isprimary":"1"}, {"id":"8317914535",
        "secret":"c7393787f3", "server":"8217", "farm":9, "title":"Mus\u00e9e du Louvre",
        "isprimary":"0"}, {"id":"8318972024", "secret":"c065315906", "server":"8075",
        "farm":9, "title":"Mus\u00e9e du Louvre", "isprimary":"0"}, {"id":"8317914047",
        "secret":"afebce8291", "server":"8353", "farm":9, "title":"Mus\u00e9e du Louvre",
        "isprimary":"0"}, {"id":"8317913769", "secret":"df65484bbf", "server":"8212",
        "farm":9, "title":"Eiffel [...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="qJflypJmNJZMSnobB0FZGQj2Vhb4B9v3lhIYE8NwvTk%3D", oauth_signature="<KUVA_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397347663", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},
        {"_content":"flickr.activity.userPhotos"}, {"_content":"flickr.auth.checkToken"},
        {"_content":"flickr.auth.getFrob"}, {"_content":"flickr.auth.getFullToken"},
        {"_content":"flickr.auth.getToken"}, {"_content":"flickr.auth.oauth.checkToken"},
        {"_content":"flickr.auth.oauth.getAccessToken"}, {"_content":"flickr.blogs.getList"},
        {"_content":"flickr.blogs.getServices"}, {"_content":"flickr.blogs.postPhoto"[...]
