---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="dfZcfHAk8B%2BegzPA4ynOYPy7iBWw5kzkIL48%2BsqeGeg%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397347624", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Sun, 13 Apr 2014 00:07:04 GMT
recorded_with: VCR 2.9.0
