---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=8317914535&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="oErWuxLs2Lu%2Ffk%2B2AE%2F3sOinywOJtbWYBq0W07VipT0%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397479206", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"8317914535", "secret":"c7393787f3", "server":"8217",
        "farm":9, "dateuploaded":"1356715395", "isfavorite":0, "license":"0", "safety_level":"0",
        "rotation":0, "originalsecret":"2e841b1a95", "originalformat":"jpg", "owner":{"nsid":"8558751@N06",
        "username":"ktnl", "realname":"Kevin Tuhumury", "location":"", "iconserver":"213",
        "iconfarm":1, "path_alias":"kevintuhumury"}, "title":{"_content":"Mus\u00e9e
        du Louvre"}, "description":{"_content":"These shots were taken in Paris, France
        in December 2012. Most of them are taken with my Nikon D80 and Nikkor 50mm
        f\/1.8 or Tokina 12-24mm f\/4."}, "visibility":{"ispublic":1, "isfriend":0,
        "isfamily":0}, "dates":{"posted":"1356715395", "taken":"2012-12-02 16:03:55",
        "takengranularity":"0", "lastupdate":"1356715869"}, "permissions":{"permcomment":3,
        "permaddmeta":2}, "views":"291", "editability":{"cancomment":1, "canaddmeta":1},
        "publiceditability":{"cancomment":1, "canaddmeta":0}, "usage":{"candownload":1,
        "canblog":1, "canprint":1, "canshare":1}, "comments":{"_content":"0"}, "notes":{"note":[]},
        "people":{"haspeople":0}, "tags":{"tag":[{"id":"8513429-8317914535-484", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Paris", "_content":"paris", "machine_tag":0},
        {"id":"8513429-8317914535-487", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"France", "_content":"france", "machine_tag":0}, {"id":"8513429-8317914535-9178",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Eiffel", "_content":"eiffel",
        "machine_tag":0}, {"id":"8513429-8317914535-6973", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Eiffel tower", "_content":"eiffeltower", "machine_tag":0},
        {"id":"8513429-8317914535-5080", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"Louvre", "_content":"louvre", "machine_tag":0}, {"id":"8513429-8317914535-44616",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Arc de Triomphe", "_content":"arcdetriomphe",
        "machine_tag":0}, {"id":"8513429-8317914535-11119", "author":"8558751@N06",
        "authorname":"ktnl", "raw":"Notre Dame", "_content":"notredame", "machine_tag":0},
        {"id":"8513429-8317914535-1128", "author":"8558751@N06", "authorname":"ktnl",
        "raw":"Seine", "_content":"seine", "machine_tag":0}, {"id":"8513429-8317914535-315853",
        "author":"8558751@N06", "authorname":"ktnl", "raw":"Champs-\u00c9lys\u00e9es",
        "_content":"champs\u00e9lys\u00e9es", "machine_tag":0}]}, "location":{"latitude":48.861948,
        "longitude":2.335174, "accuracy":"15", "context":"0", "neighbourhood":{"_content":"Saint-Germain-L''auxerrois",
        "place_id":"36CFHdZUV7KNOKK4LQ", "woeid":"55843752"}, "locality":{"_content":"Paris",
        "place_id":"EsIQUYZXU79_kEA", "woeid":"615702"}, "county":{"_content":"Paris",
        "place_id":".tpTHPFQUL.gM81.cQ", "woeid":"12597155"}, "region":{"_content":"Ile-de-France",
        "place_id":"QLdv_.RWU7_jEfrE", "woeid":"7153319"}, "country":{"_content":"France",
        "place_id":"lbWye9tTUb6GOcp80w", "woeid":"23424819"}, "place_id":"36CFHdZUV7KNOKK4LQ",
        "woeid":"55843752"}, "geoperms":{"ispublic":1, "iscontact":0, "isfriend":0,
        "isfamily":0}, "urls":{"url":[{"type":"photopage", "_content":"https:\/\/www.flickr.com\/photos\/kevintuhumury\/8317914535\/"}]},
        "media":"photo"}, "stat":"ok"}'
  recorded_at: Mon, 14 Apr 2014 12:40:07 GMT
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: method=flickr.reflection.getMethods&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="nPwFpp8KdIQwWkT%2Bqt6Yn2M%2Fg8vmOmmqEpvvGaVL%2FbU%3D", oauth_signature="<KUVA_SHARED_SECRET>%26",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397484495", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"methods":{"method":[{"_content":"flickr.activity.userComments"},
        {"_content":"flickr.activity.userPhotos"}, {"_content":"flickr.auth.checkToken"},
        {"_content":"flickr.auth.getFrob"}, {"_content":"flickr.auth.getFullToken"},
        {"_content":"flickr.auth.getToken"}, {"_content":"flickr.auth.oauth.checkToken"},
        {"_content":"flickr.auth.oauth.getAccessToken"}, {"_content":"flickr.blogs.getList"},
        {"_content":"flickr.blogs.getServices"}, {"_content":"flickr.blogs.postPhoto"[...]
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photoset_id=72157632367381040&method=flickr.photosets.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="<KUVA_API_KEY>",
        oauth_nonce="4CSdq8%2BfdeMkiztujXQuSJzhe2J1VLAXYxCfcs%2FBq%2BU%3D", oauth_signature="<KUVA_SHARED_SECRET>%26<KUVA_ACCESS_SECRET>",
        oauth_signature_method="PLAINTEXT", oauth_timestamp="1397484495", oauth_token="<KUVA_ACCESS_TOKEN>",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photoset":{"id":"72157632367381040", "owner":"8558751@N06", "username":"ktnl",
        "primary":"8318972536", "secret":"eda82f692f", "server":"8499", "farm":9,
        "photos":28, "count_views":"31", "count_comments":"0", "count_photos":"28",
        "count_videos":0, "title":{"_content":"Paris"}, "description":{"_content":"These
        shots were taken in Paris, France in December 2012. Most of them are taken
        with my Nikon D80 and Nikkor 50mm f\/1.8 or Tokina 12-24mm f\/4."}, "can_comment":1,
        "date_create":"1356715289", "date_update":"1356717162", "coverphoto_server":"0",
        "coverphoto_farm":0}, "stat":"ok"}'
  recorded_at: Mon, 14 Apr 2014 14:08:16 GMT
recorded_with: VCR 2.9.0
