---
http_interactions:
- request:
    method: post
    uri: http://www.flickr.com/services/oauth/request_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth realm="http://www.flickr.com/services/oauth/request_token", oauth_callback="oob",
        oauth_consumer_key="<OAUTH_CONSUMER_KEY>", oauth_nonce="<OAUTH_NONCE>", oauth_signature="<OAUTH_SIGNATURE>",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1393064522", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: oauth_callback_confirmed=true&oauth_token=<OAUTH_TOKEN>&oauth_token_secret=<OAUTH_TOKEN_SECRET>
  recorded_at: Sat, 22 Feb 2014 10:22:02 GMT
- request:
    method: post
    uri: http://www.flickr.com/services/oauth/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth realm="http://www.flickr.com/services/oauth/access_token", oauth_consumer_key="<OAUTH_CONSUMER_KEY>",
        oauth_nonce="<OAUTH_NONCE>", oauth_signature="<OAUTH_SIGNATURE>", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1393064522", oauth_token="<OAUTH_TOKEN>", oauth_verifier="%3Cauthorization_code%3E",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: oauth_problem=token_rejected
  recorded_at: Sat, 22 Feb 2014 10:22:02 GMT
recorded_with: VCR 2.8.0
